* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0f0f0f;
    font-family: Arial, sans-serif;
    color: white;
}

.headline {
    background-color: black;
    padding: 30px;
}

.label {
    background-color: white;
    color: black;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 15px;
}

.headline h1 {
    margin-top: 15px;
    font-size: 26px;
}

.parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;    
    padding: 40px 60px;   
}

.card {
    background-color: #1c1c1c;
    border-radius: 12px;
    overflow: hidden;

    margin: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

.card img {
    width: 100%;
}

.card h3 {
    font-size: 15px;
    padding: 10px;
}

.card p {
    font-size: 12px;
    color: #aaa;
    padding: 0 10px 10px;
}

.img-box {
    position: relative; 
}

.img-box img {
    width: 100%;
    display: block;
}

.text {
    position: absolute;   
    bottom: 0;           
    left: 0;
    width: 100%;
    padding: 10px;

    background: rgba(0, 0, 0, 0.6);
}

.text h3 {
    font-size: 14px;
    color: white;
}

.tag {
    background-color: #1e90ff;
    color: white;
    font-size: 10px;
    padding: 3px 8px;
    border-radius: 10px;
}